.navigation {
    background-color: red;
    z-index: 100;
    position: fixed;
    width: 100vw;
    font-family: 'Russo One', sans-serif;
    
}

/* .content {
    margin-top: 30px;
} */

.newsgame {
    
    margin:auto;  
    margin-top: 15vh;
}

.betslip-outer {
    margin-top: 15vh;
    position: relative;
}

.betslip {
    background-color: blue;
    position: fixed;
}

.unplaced-bet {
    background-color: yellow;
}

.stake {
    width: 80px;
    text-align: center;
}
.gametitleimgcontainer{
   text-align: center
    
}
.gametitleimg{

  margin:auto;
  width:90%;
 
 
}
.title{
   
    width: 60vw;
    margin: auto;
    text-align: center;
    background-color: green; 
   
}

.oddstable {
    width: 90%;
    margin: auto;
    border: solid;
}

.logo {
    width: 20vw;
}

.navbarlogin {
    text-align: right;
    padding-right: 50px;
}

.navbutton {
    font-size: 2vw;
}

.navblock {
    margin-left: -50px;
}