.newsgame {
    
    margin:auto;  
    margin-top: 15vh;
}

.betslip-outer {
    margin-top: 15vh;
    position: relative;
    font-family: 'Russo One', sans-serif;
}
.btn-placebet{
    color:#ff5733;
    background-color:white;

}
a.btn-placebet:hover{
    color:#707070;
}
.sliptitle{
    color:white; 
}

.betslip {
    background-color:#f0f0f0;
    position: fixed;
    
}
.slipheading{
    background-color: #ff5733; 

}

.unplaced-bet {
    background-color: #b8b8b8;
}

.stake {
    width: 80px;
    text-align: center;
}