.newsgame {
    
    margin:auto;  
    margin-top: 15vh;
}

.betslip-outer {
    margin-top: 15vh;
    position: relative;
    font-family: 'Russo One', sans-serif;
}
.btn-placebet{
    color:#ff5733;
    background-color:white;

}
a.btn-placebet:hover{
    color:#707070;
}
.sliptitle{
    color:white; 
}

.betslip {
    background-color:#b8b8b8;
    text-align: center;
    
}
.slipheading{
    background-color: #ff5733; 

}

.unplaced-bet {
    background-color: #b8b8b8;
}

.stake {
    width: 80px;
    text-align: center;
}
.activebet{
 font-size: 20px;
 margin-left: 80px;
 margin-top: 10px;
}
.crossbtn{
    width:30%;
    margin-top: 10px;
    margin-right: 35px;

}
.crossbtndiv{
   padding: 0px;
}
.cardformdiv{
    text-align:left;
    margin-left: -50px;

    
}
.cardformdiv p{
 margin-bottom: 5px;

    
}
.oddsdiv{
text-align: right;
font-size: 15px;

}

.return{
    margin-left: 50px;
}
.returndiv{
 padding: 0px;
}
.removeall{
 
background-color:#f0f0f0;
color: black;
}

a.removeall:hover{
    color: #b8b8b8;
}
.removealldiv{
    text-align: center;
}
.totalbetdiv{
text-align: left;
margin-top: 15px;
font-size: 20px;
   
}
.betmain{
    box-shadow: -3px 3px 10px 5px #888888;
}