.footerdiv{
  margin: 0;
  padding: 0;
  background-color: #707070;
  color: white;
  height: 10vh;
  font-family: 'Russo One', sans-serif;
  

}
.instructions{
  text-align: right;
  margin-top: 20px;
  margin-right: 20px;
}


.copyrightcol {
  margin-top: 20px;
  margin-left: 20px;
}

.footerimage {
  background: white;
  width: 100px;
  height: 100px;
}

.social-icon{
  margin-top: 15px;
  width:30px;
}