.screening{
  width: 60vw;
  margin: auto;
  text-align: center;
  background-color: #f0f0f0;
  color:black;
  font-family: 'Russo One', sans-serif;

}

.slideshow {
  height: auto;
}

.homeimg {
  width: 100%
}

.gamedisplayheading{
  width: 60vw;
  font-size: 20px;
  margin: auto;
  text-align: center;
  background-color: #f0f0f0;
  color:black;
  font-family: 'Russo One', sans-serif;

}
.gamedisplay{
  width: 60vw;
  height: 100%;
  margin: auto;
  text-align: center;
  background-color:#f0f0f0;
  color:black;
  font-family: 'Russo One', sans-serif;

}
.upcomingimg1{
  width: 90%;
  margin: 0;
  padding: 0;
  background-color:green;
  
  float: right;
  
}

.upcomingimg2{
  width: 90%;
  margin: 0;
  padding: 0;
  background-color:green;
  
  float: left;
  
}

.upcomingimg3{
  width: 90%;
  margin: 0;
  padding: 0;
  background-color:green;

  
}




.upcomingimgcont{
  margin:0px;
  background-color: red;
  padding: 0;
  display:block;
  font-size: 0px;
}

.upcomingtable {
  width: 50px;
  background-color:green;
  margin: 0;
  padding: 0;
  display:block;
  font-size: 0px;
}

td {
  font-size: 0px;
}

.upcomingtitle {
  margin-top: 20px;
}

.upcomingimages {
  width: 60vw;
  margin: auto;
  text-align: center;
}
.tourneyimage{
  background: 50% 50% no-repeat; 
  
}


.imagetext {
  z-index: 100;
  position: absolute;
  margin-top: -450px;
  margin-left: 105px;
  width: 46vw;
  background-color: rgba(255, 255, 255, 0.8);;

}

.slideimage {
  width: 100%;
}