.screening{
  width: 60vw;
  margin: auto;
  text-align: center;
  background-color: #f0f0f0;
  color:black;
  font-family: 'Russo One', sans-serif;

}

.slideshow {
  height: auto;
}

.homeimg {
  width: 100%
}

.gamedisplayheading{
  width: 60vw;
  margin: auto;
  text-align: center;
  background-color: #f0f0f0;
  color:black;
  font-family: 'Russo One', sans-serif;

}
.gamedisplay{
  width: 60vw;
  height: 100%;
  margin: auto;
  text-align: center;
  background-color:#f0f0f0;
  color:black;
  font-family: 'Russo One', sans-serif;

}
.upcomingimg1{
  width: 90%;
  margin: 0;
  padding: 0;
  background-color:green;
  
  float: right;
  
}

.upcomingimg2{
  width: 90%;
  margin: 0;
  padding: 0;
  background-color:green;
  
  float: left;
  
}

.upcomingimg3{
  width: 90%;
  margin: 0;
  padding: 0;
  background-color:green;

  
}




.upcomingimgcont{
  margin:0px;
  background-color: red;
  padding: 0;
  display:block;
  font-size: 0px;
}

.upcomingtable {
  width: 50px;
  background-color:green;
  margin: 0;
  padding: 0;
  display:block;
  font-size: 0px;
}

td {
  font-size: 0px;
}

.upcomingtitle {
  margin-top: 50px;
}