.navigation {
    background-color:#707070;
    z-index: 100;
    position: fixed;
    width: 100vw;
    font-family: 'Russo One', sans-serif;
    color:white;
    
    
}

.logo {
    width: 15vw;
}
.login{
    text-align: center;
   
    
}

.signup{
    text-align: center;   
}

.account {
    margin-right: 20px;
}

 .signinbtn {
    width:10vw;
    height: 6vh;
    padding: 0;
    display: table-cell;
    vertical-align: middle;
    color:#ff5733;
    background-color:white;
    font-size: 25px;  
}

  a.btn-work:hover{
      color: #707070;
  }

.navbutton {
    font-size: 2vw;
    color: white;
}

.navbutton:hover {
    color: #ff5733;
}

.navblock {
    margin-left: -200px;
}
